* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Libertinus Math", system-ui;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.5;
    background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: "Libertinus Math", system-ui;
}

.container {
    width: 100%;
    padding: 0 8rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

section
{
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
}

.img-fluid {
    max-width: 340px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;

    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid black;
}


.text-uppercase {
    text-transform: uppercase;
}

/* Navbar */
nav {
    font-family: "Radley", serif;
    background-color: #224b6b;
    color: white;
    padding-bottom: 2rem;
    padding-top: 2rem;
    position: fixed;
    width: 100%;
    z-index: 500;
}

#logo-box .logo {
    color: #fff;
    font-weight: 400;
    font-size: 6.2rem;
}

#nav-links .nav-link {
    color: white;
    font-size: 2.2rem;
    font-weight: 700;
    display: block;
    letter-spacing: 1px;
    transition: color 0.4s;
}

#nav-links .nav-link:hover {
    color: #ac1c1c;
}

header {
    background-color: #860000;
    height: 700px;
    padding-top: calc(134px + 80px);
    text-align: center;
    color: white;
}

header h1 {
    color: white;
    font-size: 5rem;
}

hr.starlight {
    border-color: #fff;
}

hr.stardark {
    border-color: #224B6B;
}

.starlight {
    height: 3px;
    border: none;
    border: 0.4px solid #fff;
    max-width: 25rem;
    border-radius: 10px;
    margin: 2.5rem auto;
}

.starlight::after {
    content: "&#9733";
    color: #fff;
    font-weight: 900;
    font-size: 3.2rem;
}

.container #profile-img:hover
{
    transition: 0.4s;
    max-width: 480px;
}

/* portfolio */

#portfolio {
    height: 800px;
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
    background-color: #ccc6c6;
}

#portfolio h2 {
    color: #224B6B;
    width: fit-content;
    margin: 0 auto;
    font-size: 5rem;
}

.col {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio-item {
    width: 33.333%;
    padding: 10px;
    position: relative;
    overflow: visible;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 50px;
    border: 3px solid #224B6B;
    display: block;
}

.portfolio-item:hover
{
    transition: 0.4s;
    opacity: 0.7;
}

.hat-overlay {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-image: url("images/cowboy-hat-transparent-png-p5836l3uwfxdtx07.png"); /* Şapka PNG dosyası */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;
    z-index: 10;
}

.portfolio-item:hover .hat-overlay {
    opacity: 1;
}

#about
{
    background-color: #224B6B;

}